<section class="card">
  <i></i>
  <div class="card--content">
    <h1 class="card--title">How did we do?</h1>
    <p class="card--description">
      Please let us know how we did with your support request. All feedback is
      appreciated to help us improve our offering!
    </p>
    <!-- rate list list -->
    <ul class="selector--list">
      <li class="selector--item">1</li>
      <li class="selector--item">2</li>
      <li class="selector--item">3</li>
      <li class="selector--item">4</li>
      <li class="selector--item">5</li>
    </ul>
  </div>
  <button class="btn" type="submit">SUBMIT</button>
</section>
