:root {
  --color--grey-950: #131518;
  --color--grey-900: #262e38;
  --color--grey-500: #969fad;
  --color--orange-500: #fc7614;
  --color--gradient: radial-gradient(#232a34, #181e27);

  --fs-pr1: 2.8rem;
  --lh-pr1: 3.5rem;
  --fs-pr2: 2.4rem;
  --lh-pr2: 3rem;
  --fs-pr3: 1.6rem;
  --lh-pr3: 2.4rem;
  --ls-3: 0.02rem;
  --fs-pr4: 1.5rem;
  --lh-pr4-b: 1.9rem;
  --ls-4-b: 0.2rem;
  --lh-pr4-r: 2.4rem;
  --fs-pr5: 1.4rem;
  --lh-pr5-b: 1.8rem;
  --lh-pr5-sb: 2.4rem;
  --lh-pr5-r: 2.2rem;
  --ls-5-b: 0.187rem;
  --ls-5-sb: 0.017rem;

  --space-0: 0rem;
  --space-100: 0.8rem;
  --space-200: 1.6rem;
  --space-300: 2.4rem;
  --space-400: 3.2rem;
  --space-500: 4rem;
  --space-1300: 10.4rem;
  --space-1700: 13.4rem;
}

html {
  font-size: 62.5%;
  font-family: inherit;
}

body {
  position: relative;
  font-family: "Overpass", serif;
  min-height: 100vh;
  background-color: var(--color--grey-950);
  display: grid;
  place-content: center;
  z-index: 1;
}

/* btn */
.btn {
  display: block;
  width: 100%;
  background-color: var(--color--orange-500);
  border: 0;
  border-radius: 2.2rem;
  font-size: var(--fs-pr5);
  line-height: var(--lh-pr5-sb);
  letter-spacing: var(--ls-5-sb);
  font-weight: 600;
  padding: clamp(0.6rem, 2vw, 1.2rem) 0;
  transition: all 0.2s ease-out;
}
.btn:hover,
.btn:active {
  background-color: white;
}

/* list item */
.selector--list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  transition: all 150ms;
}
.selector--item {
  position: relative;
  background-color: var(--color--grey-900);
  color: var(--color--grey-500);
  border-radius: 50%;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  font-size: var(--fs-pr3);
  line-height: 0;
  font-weight: bold;
  letter-spacing: var(--ls-3);
  width: 4.2rem;
  height: 4.2rem;
  transition: all 0.2s ease-in;
}

.selector--item:hover {
  background-color: white;
  color: var(--color--grey-950);
  transform: scale(1.12);
}

.selector--item.active {
  color: var(--color--grey-650);
  background-color: var(--color--orange-500);
}
@media screen and (min-width: 27rem) {
  .selector--item {
    width: 5.4rem;
    height: 5.4rem;
  }
}

@media screen and (min-width: 40rem) {
  .selector--item {
    cursor: pointer;
  }
  .btn {
    cursor: pointer;
  }
}
/* card */

.card {
  position: relative;
  z-index: 20;
  max-width: 41.2rem;
  background: var(--color--gradient);
  padding: 3.4rem 3rem;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.card--content {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.card--title {
  color: white;
  font-size: clamp(var(--fs-pr2), 5vw, var(--fs-pr1));
  line-height: clamp(var(--lh-pr2), 5vw, var(--lh-pr1));
  font-weight: 700;
  transition: all 200ms ease-out;
}

.card--description {
  color: var(--color--grey-500);
  font-size: clamp(var(--fs-pr5), 5vw, var(--fs-pr4));
  line-height: clamp(var(--lh-pr5-r), 5vw, var(--lh-pr4-r));
  font-weight: 400;
  transition: all 200ms ease-out;
}

@media screen and (min-width: 40rem) {
}

/* icon */
.star--icon {
  display: block;
  width: 4.8rem;
  height: 4.8rem;
  background: var(--color--grey-900);
  background-image: url(../images/icon-star.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  background-size: 1.6rem;
}

/* modal */
.modal {
  height: 100vh;
  background: var(--color--gradient);
  display: flex;
  flex-direction: column;
  gap: var(--space-400);
  justify-content: center;
  padding: 4.4rem 3.6rem;
  align-items: center;
}

.rate--message {
  background-color: var(--color--grey-900);
  color: var(--color--orange-500);
  padding: 0.6rem 1.9rem;
  border-radius: 2.25rem;
  font-size: var(--fs-pr4);
  line-height: var(--lh-pr4-r);
}

.modal--footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1.6rem;
}

.modal--title {
  font-size: var(--fs-pr1);
  line-height: var(--lh-pr1);
  color: white;
  font-weight: 700;
}

.modal--description {
  color: var(--color--grey-500);
  font-size: var(--fs-pr4);
  line-height: var(--lh-pr4-r);
}

@media screen and (min-width: 40rem) {
  .modal {
    height: auto;
    position: relative;
    z-index: 10;
    max-width: 41.2rem;
    background: var(--color--gradient);
    display: flex;
    flex-direction: column;
    gap: var(--space-400);
    padding: 4.4rem 3.6rem;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
  }
  .container {
    max-width: 95vw;
  }
}

/* extra */

.hide {
  display: none;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.selector--item.bg--orange {
  background-color: var(--color--orange-500);
  color: var(--color--grey-950);
  transition: background-color 0.5s ease-out, color 0.2s;
}

/* animation */
@keyframes up {
  from {
    transform: translateY(30px);
    opacity: 0.1;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
